
.flex {
    display: flex;  

    
}
.section1 {
    flex-basis: 100%;
    min-height: 40%;
    max-height: 40%;
    border-radius: 20px;
}
.container {
    background-image: url("../images/pic3.jpeg");
    height: 20rem;
    width: 15rem;
    position: relative;
    border: 3px solid rgb(236, 236, 243);
    -webkit-box-shadow: 0px 9px 30px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 30px 11px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 30px 11px rgba(0,0,0,0.75);
    border-radius: 20px;
    
}
.dot {
    height: 5px;
    width: 5px;
    background-color: black;
    border-radius: 50%;
    margin: 6px;
}
.section2 {
    margin: 12px;
}
.adress {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.flex-col {
    flex-direction: column;
}
/* .section1 .img {
    height: 100%;
    width: 100%;
} */


/*  

Height => this will set the height of particular div
max-height=> maximum height of that div
min-height=> 40%
*/


.profile {
    border-radius: 50%;
}

.title {
    font-size: 14px;
    font-weight: 500;
    color: rgb(249, 189, 189);
    margin-bottom: 5px;
}
.sub-heading {
    font-weight:bold;
    color: black;
}
.adress {
    font-size: 14px;
    font-weight: 500;
    color: rgb(42, 40, 40);
    margin-bottom: 5px;
     
}